.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/app/src/main/obj/
/app/src/main/assets/SmalltalkRessources/package-cache/
*.so
/app/src/main/resources/vmmaker
